<?xml version="1.0"?>
<robot name="quadruped" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find quadruped_robot_description)/urdf/leg.urdf.xacro" />
  <xacro:include filename="$(find quadruped_robot_description)/urdf/ros2_control.urdf.xacro" />
  <xacro:arg name="use_hardware" default="True" />


  <material name="grey">
    <color rgba="0.5 0.5 0.5 1" />
  </material>

  <!-- Define the base (body) -->
  <link name="base_link">
    <visual>
      <origin rpy="0 0 ${pi}" xyz="0.0 0 0" />
      <geometry>
        <mesh filename="package://quadruped_robot_description/meshes/base_link.dae" />
      </geometry>
      <!-- <geometry>
        <box size="0.25 0.23 0.06" />
      </geometry> -->
    </visual>
    <collision>
      <origin rpy="0 0 ${pi}" xyz="0.0 0 0.0" />
      <geometry>
        <mesh filename="package://quadruped_robot_description/meshes/base_link.dae" />
      </geometry>
    </collision>
    <inertial>
      <mass value="14.0" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1" />
    </inertial>
  </link>

  <link name="imu_link" />
  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0" />
  </joint>


  <!-- Define the four legs -->
  <xacro:leg prefix="rear_left" xyz="-0.131 0.06 0.06" rpy="0 0 ${pi}" first_joint_offset="${pi}"
    third_joint_gear_correction_dir="-1.0" />
  <xacro:leg prefix="rear_right" xyz="-0.131 -0.06 0.06" rpy="0 0 ${pi}" first_joint_offset="0.0"
    third_joint_gear_correction_dir="1.0" />


  <xacro:leg prefix="front_right" xyz="0.131 -0.06 0.06" rpy="0 0 0" first_joint_offset="${pi}"
    third_joint_gear_correction_dir="-1.0" />
  <xacro:leg prefix="front_left" xyz="0.131 0.06 0.06" rpy="0 0 0" first_joint_offset="0.0"
    third_joint_gear_correction_dir="1.0"
  />


  <xacro:quadruperd_ros2_control use_hardware="$(arg use_hardware)" />
</robot>